{% extends "base.html" %}

{% block content %}
  <h2>Anemia Detection</h2>
  <form method="POST" action="">
    {{ form.csrf_token }}
    <div>
      {{ form.gender.label }} {{ form.gender }}
      {% if form.gender.errors %}
        <ul>
          {% for error in form.gender.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
      {{ form.hemoglobin.label }} {{ form.hemoglobin(size=32) }}
      {% if form.hemoglobin.errors %}
        <ul>
          {% for error in form.hemoglobin.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
      {{ form.mch.label }} {{ form.mch(size=32) }}
      {% if form.mch.errors %}
        <ul>
          {% for error in form.mch.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
      {{ form.mchc.label }} {{ form.mchc(size=32) }}
      {% if form.mchc.errors %}
        <ul>
          {% for error in form.mchc.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
      {{ form.mcv.label }} {{ form.mcv(size=32) }}
      {% if form.mcv.errors %}
        <ul>
          {% for error in form.mcv.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
      {{ form.submit() }}
    </div>
  </form>
{% endblock %}
